#showHighScore {
    align-content: flex-start;
}

#timer {
    align-content: flex-end;
}

#score {
    align-self: center;
}

#startbtn {
    display: flex;
  align-items: center;
  justify-content: center;
}

header {
    margin-top: 20px;
}

main{
    margin: 15px;
}

h1 {
    font-weight: bold;
}

p {
    border: 10px;
}

#welcomePage {

}

#questions {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#result {
    font-style: italic;
    color: slategray;
}
