body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: wheat;
}

#showHighScore {
    align-content: flex-start;
}

#timeHolder {
    display: none;
    align-content: flex-end;
}

#scoreHolder {
    display: none;
    align-self: center;
}

#startbtn {
    margin: auto;
}

header {
    margin-top: 20px;
}

main{
    margin: 15px;
}


h1 {
    font-weight: bold;
}

p {
    border: 100px;
}
hr {
width: 500px;
}

#result {
    font-style: italic;
    color: dimgrey;
    align-items: center;
    margin: auto; 
}
